
@{
    ViewBag.Title = "Admin";
}

<h2>Admin Yönetim Paneli</h2>

<ul class="list-group">

    <li class="list-group-item list-group-item-primary">
        <a href="/Admin/Users" class="btn btn-primary">Üye Yönetimi</a>
    </li>

    <li class="list-group-item list-group-item-warning">
        <a href="/Admin/Products" class="btn btn-warning">Ürün Yönetimi</a>
    </li>

    <li class="list-group-item list-group-item-dark">
        <a href="/Admin/Categories" class="btn btn-success">Kategori Yönetimi</a>
    </li>

    <li class="list-group-item list-group-item-dark">
        <a href="/Admin/AdminOrders" class="btn btn-success">Sipariş Yönetimi</a>
    </li>
</ul>