@model IEnumerable<ECommerce.Core.Model.Entity.Category>

@{
    foreach (var item in Model)
    {
        <li class="item"><a class="list-group-item-heading" href="/kategori-@item.Name.Replace(" ","")-@item.ID">@item.Name</a></li>
    }
}